*{

}

body{

}

header{

}

main{

}

main .meal-details-style{

}
main .meal-details-style img{

}
main .meal-details-style p{

}

main .not-found{
    color: red;
    text-align: center;
    margin-top: 10%;
}

main #meal-list{

}
main .single-meal{
    
}
main .single-meal:hover{
    cursor: pointer;
}
main .single-meal .col .card{
    
}
main .single-meal img{

}
main .single-meal p{

}